{% extends 'base.html' %}

{% block title %}
<title>{{fullname}}</title>
{% endblock %}

{% block extrastylesheet %}
{% endblock %}

{% block navbar%}

{% block extra%}

{% endblock %}



<ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'detail'%}">Signed in as<span style="font-weight:bold"> {{fullname | capfirst}} </span></a></li>
        {% if pro.pic %}
        <li><a href="{% url 'detail'%}"><img style="max-width:40px;max-height:40px" src="{{pro.pic.url}}"/></a></li>
        {% endif %}
        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-off" aria-hidden="true"></span></a></li>
</ul>
{% endblock %}




{% block content %}

<div class="container">
  <div class="jumbotron" style="text-align: center">
  <h1>Blogs</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="/accounts/loggedin/blogs" role="button">Blogs</a></p>
</div>
</div>
{% endblock %}
